/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/tests/Browser/console/.gitignore
/tests/Browser/screenshots/.gitignore
/tests/Browser/source/.gitignore
/docker/7.4/Dockerfile
/docker/8.0/Dockerfile
/tests/DuskTestCase.php
/tests/Browser/ExampleTest.php
/tests/Browser/Pages/HomePage.php
/tests/Browser/Pages/Page.php
/docker/7.4/php.ini
/docker/8.0/php.ini
/docker/7.4/start-container
/docker/8.0/start-container
/docker/7.4/supervisord.conf
/docker/8.0/supervisord.conf
